<div class="container d-grid">
  <div class="row p-2">
    <div class="col-sm-6 offset-sm-2">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h5>Degree</h5>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row justify-content-center">
                <div class="col-md-5 column-content odd-row">
                  <span>
                    <strong>COURSE</strong>
                  </span>
                </div>
                <div class="col-md-5 column-content odd-row">
                  <span>Bachelor of Engineering in Electronics and Communication</span>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-5 column-content even-row">
                  <span>
                    <strong>UNIVERSITY</strong>
                  </span>
                </div>
                <div class="col-md-5 column-content even-row">
                  <span>Visvesvaraya Techological University</span>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-5 column-content odd-row">
                  <span>
                    <strong>INSTITUTION NAME</strong>
                  </span>
                </div>
                <div class="col-md-5 column-content odd-row">
                  <span>East West Institute of Technology</span>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-5 column-content even-row">
                  <span>
                    <strong>YEAR OF PASSING</strong>
                  </span>
                </div>
                <div class="col-md-5 column-content even-row">
                  <span>2015</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h5>Pre-University Course / XII</h5>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row justify-content-center">
                <div class="col-md-5 column-content odd-row">
                  <span>
                    <strong>BOARD</strong>
                  </span>
                </div>
                <div class="col-md-5 column-content odd-row">
                  <span>Karnataka Education Authority</span>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-5 column-content even-row">
                  <span>
                    <strong>INSTITUTION NAME</strong>
                  </span>
                </div>
                <div class="col-md-5 column-content even-row">
                  <span>Seshadripuram Composite PU College</span>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-5 column-content odd-row">
                  <span>
                    <strong>YEAR OF PASSING</strong>
                  </span>
                </div>
                <div class="col-md-5 column-content odd-row">
                  <span>2011</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h5>SSLC / X</h5>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row justify-content-center">
                <div class="col-md-5 column-content odd-row">
                  <span>
                    <strong>BOARD</strong>
                  </span>
                </div>
                <div class="col-md-5 column-content odd-row">
                  <span>Karnataka Secondary Education Examination Board</span>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-5 column-content even-row">
                  <span>
                    <strong>INSTITUTION NAME</strong>
                  </span>
                </div>
                <div class="col-md-5 column-content even-row">
                  <span>Jindal High School</span>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-5 column-content odd-row">
                  <span>
                    <strong>YEAR OF PASSING</strong>
                  </span>
                </div>
                <div class="col-md-5 column-content odd-row">
                  <span>2009</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
