/* You can add global styles to this file, and also import other style files */
.modal {
  background: rgba(0,0,0, .5);
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("src/background.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
}

body {
  font-family: "Bodoni MT" ,"Arial Rounded MT Bold", "Times New Roman";
  margin: auto
}

.list-group-item {
  background-color: #d7d8da;
  border: 1px solid;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #d7d8da;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('./chevron-up.svg');
}

.accordion-button::after {
  background-image: url('./chevron-down.svg');
}

.column-content {
  min-height: 8vh;
  text-align: center;
  vertical-align: center;
  border-bottom: 1px solid black;
}

.even-row {
  background-color: #e2e3e5;
}

.odd-row {
  background-color: #d7d8da;
}

.selectedLink {
  color: #a57b00 !important;
}

.center {
  margin: auto;
}

@media screen and (min-device-width: 300px) and (max-device-width: 350px) {
  .projectName span {
    font-size: 16px !important;
  }

  .projectName button {
    padding: inherit;
    min-height: 6vh;
    min-width: 80px;
  }
}