<nav class="navbar navbar-dark nav-tabs">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
  <div class="justify-items-center">
    <a class="nav-link" routerLink="home" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">
      <span>
        <strong class="text-secondary text-light" routerLinkActive="selectedLink">HOME</strong>
      </span>
    </a>
    <a class="nav-link" aria-current="page"
       *ngFor="let appLink of appLinks | keyvalue : returnZero"
       routerLink="{{appLink.key}}" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">
      <span>
        <strong class="text-secondary text-light" routerLinkActive="selectedLink">{{appLink.value}}</strong>
      </span>
    </a>
  </div>
</div>
<!--
<div class="container-fluid">
  <div class="row">
    <div class="col" >
      <nav class="nav nav-tabs justify-content-center">
        <a class="nav-link" routerLink="home" routerLinkActive="active">
          <span>
            <strong class="text-secondary text-light" routerLinkActive="text-dark">HOME</strong>
          </span>
        </a>
        <a class="nav-link" aria-current="page"
           *ngFor="let appLink of appLinks | keyvalue : returnZero"
           routerLink="{{appLink.key}}" routerLinkActive="active">
          <span>
            <strong class="text-secondary text-light" routerLinkActive="text-dark">{{appLink.value}}</strong>
          </span>
        </a>
      </nav>
    </div>
  </div>
  <br>
</div>
-->

