<div class="container">
  <br>
  <div class="row fs-5">
    <div class="col-md-5 offset-md-3">
      <div class="row justify-content-center">
        <div class="col-md-5 column-content odd-row">
          <span>
            <strong>Name</strong>
          </span>
        </div>
        <div class="col-md-5 column-content odd-row">
          <span>Pavan.N</span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 column-content even-row">
          <span>
            <strong>Date Of Birth</strong>
          </span>
        </div>
        <div class="col-md-5 column-content even-row">
          <span>10-November-1993</span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 column-content odd-row">
          <span>
            <strong>Gender</strong>
          </span>
        </div>
        <div class="col-md-5 column-content odd-row">
          <span>Male</span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 column-content even-row">
          <span>
            <strong>Father's Name</strong>
          </span>
        </div>
        <div class="col-md-5 column-content even-row">
          <span>Nataraj</span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 column-content odd-row">
          <span>
            <strong>Hobbies</strong>
          </span>
        </div>
        <div class="col-md-5 column-content odd-row">
          <span>Bike rides, Trekking, Playing badminton / cricket / carrom / table-tennis</span>
        </div>
      </div>
    </div>
  </div>
</div>
